@media(max-width: 500px){


    .vstack{
        width: 250px !important;
        margin: auto;

    }

    Input{
        width: 200px !important;
        margin: auto;
    }

    Button{
        width: 200px !important;
    }

    .heading{
        font-size: 35px !important;
    }

    .text-bottom{
        font-size: 14px !important;
    }
}